.input {
  @apply block py-2.5 px-0 w-full text-sm bg-transparent
   border-0 border-b-2 appearance-none
   rounded-md
   focus:bg-red-500/30
   focus:outline-none focus:ring-0 
    transition-colors
    duration-300
    ease-in-out
    autofill:transition-colors autofill:duration-5000000;
}


.search-input {
  @apply autofill:transition-colors autofill:duration-5000000
   border-2 h-10 border-primary rounded-md w-90 bg-stone-900
    text-white focus:outline-none focus:ring-2 focus:ring-primary
     placeholder:text-base placeholder:p-3
}