.label {
  @apply absolute text-sm duration-300 transform -translate-y-6 scale-75 top-3 -z-10
    focus:start-0  placeholder-shown:scale-100
     placeholder-shown:translate-y-0 focus:scale-75 focus:-translate-y-6
      rtl:focus:translate-x-1/4 rtl:focus:left-auto
}