.image {
  @apply absolute text-black inset-0 w-full 
  h-full object-cover transition-transform 
;
}

.banner {
  @apply relative p-3 w-full opacity-0 
  translate-y-3 group-hover:translate-y-0 
  group-hover:opacity-100 group-focus:translate-y-0 
  group-focus:opacity-100 transition-all duration-250;
}

.banner-shadow {
  @apply absolute top-0 inset-0 bg-linear-to-t from-black
  to-transparent opacity-0 group-hover:opacity-100 
  group-focus:opacity-100 transition-opacity duration-200;
}
