@import 'tailwindcss';
@import './components/Input.css';
@import './components/Label.css';
@import './components/MovieCard.css';

@layer base {
  html {
    box-sizing: border-box;
    height: screen;
    margin: auto;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    color: white;
  }
  body {
    margin: 0;
    padding: 0;
    width: screen;
  }
  .pulse-shadow {
    animation: pulseShadow 2.5s ease infinite;
  }
  .scrollbar {
    -ms-overflow-style: none;
    scrollbar-color: var(--color-primary) transparent;
  }

  .search-scrollbar {
    scrollbar-color: var(--color-primary) transparent;
  }
}

@theme {
  --color-primary: var(--color-red-500);
}

@keyframes pulseShadow {
  0% {
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  }
  30% {
    box-shadow: 0 0 18px 4px rgba(253, 0, 0, 0.137);
  }
  60% {
    box-shadow: 0 0 28px 10px rgba(255, 0, 0, 0.384);
  }
  100% {
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  }
}
