@import 'tailwindcss';
@import './components/Input.css';
@tailwind utilities;

@layer base {
  html {
    box-sizing: border-box;
    height: screen;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    color: white;
  }
}

@theme {
  --color-primary: var(--color-red-500);
}
