@import 'tailwindcss';
@import './components/Input.css';
@import './components/Label.css';
@import './components/MovieCard.css';

@layer base {
  html {
    box-sizing: border-box;
    height: screen;
    margin: auto;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    color: white;
  }
  body {
    margin: 0;
    padding: 0;
    width: screen;
  }
}

@theme {
  --color-primary: var(--color-red-500);
}
